
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-1-6Ek {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9dcc4;
  width: 100%;

  .auto-group-asxg-vDn {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 105.9rem;

    .auto-group-ixpe-BJ8 {
      position: absolute;
      left: 27.7rem;
      top: 32.4rem;
      display: flex;
      align-items: center;
      width: 135.8rem;
      height: 42.7rem;

      .auto-group-n1zj-sAx {
        margin: 12.4rem 37.7rem 13.1rem 0rem;
        width: 58.8rem;
        height: calc(100% - 25.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mohamed-zameel-6T2 {
          font-family: League Spartan, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 8rem;
          font-weight: 400;
          line-height: 0.92;
          color: #000000;
        }
        .auto-group-njvj-ASt {
          box-sizing: border-box;
          padding-top: 1.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .line-1-GVv {
            background-color: #000000;
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            width: 54.1rem;
            height: 0.3rem;
          }
          .full-stack-developer-zB2 {
            font-size: 5rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Franklin Gothic Medium, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .img8667-1-ppG {
        position: relative;
        background-size: 147.71% 181.265%;
        background-position: 1.325rem 0;
        background-image: url('REPLACE_IMAGE:52e17125ddf2d8ec2d3e4d77071e153de864118a');
        border-radius: 50rem;
        flex-shrink: 0;
        width: 39.3rem;
        height: 42.7rem;
      }
    }
    .home-i8x {
      color: #000000;
      white-space: nowrap;
      height: 3.5rem;
      top: 4.9rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: Segoe UI, 'Source Sans Pro';
      width: 8.9rem;
      position: absolute;
      left: 35.7rem;
    }
    .portfolio-agx {
      height: 3.5rem;
      cursor: pointer;
      position: absolute;
      left: 62.4rem;
      top: 3.9rem;
      width: 10rem;
    }
    .portfolio-X6Q {
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      font-family: Segoe UI, 'Source Sans Pro';
      top: 3.3065rem;
      font-size: 2.5rem;
      line-height: 1.2575;
      color: #000000;
      width: 9.1rem;
      height: 3.2rem;
      left: 84.5rem;
    }
    .about-pLQ {
      font-family: Segoe UI, 'Source Sans Pro';
      position: absolute;
      left: 125.7rem;
      top: 4.9rem;
      font-size: 2.5rem;
      font-weight: 400;
      white-space: nowrap;
      box-sizing: border-box;
      width: 13.2rem;
      height: 2.7rem;
      cursor: pointer;
      line-height: 1.2575;
      padding: 0rem 1.7rem 0rem 5.1rem;
      color: #000000;
    }
    .auto-group-gyey-FRi {
      position: absolute;
      left: 24.5rem;
      top: 79.7rem;
      display: flex;
      align-items: center;
      width: 41.8rem;
      height: 12.6rem;

      .auto-group-xjb2-mur {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1.2rem 0rem 0rem;

        .social-media-icons-bundle-facebook-instagram-snapchat-linkedin-and-other-logo-buttons-free-vector-1-6hE {
          background-position: -0rem -4.7187rem;
          background-image: url('REPLACE_IMAGE:f4cded2b59e840cecd863e7f2484749741ce0c81');
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          width: 15.2rem;
          height: 10.1rem;
          position: relative;
          background-size: 358.759% 304.493%;
        }
        .social-media-icons-bundle-facebook-instagram-snapchat-linkedin-and-other-logo-buttons-free-vector-2-Y3S {
          background-image: url('REPLACE_IMAGE:22e6e5854ddaf829a1d32a8e13f2956dacd7e193');
          flex-shrink: 0;
          width: 13.1rem;
          height: 11.8rem;
          position: relative;
          background-size: 434.614% 271.15%;
          background-position: -27.9657rem -4.5043rem;
        }
      }
      .social-media-icons-bundle-facebook-instagram-snapchat-linkedin-and-other-logo-buttons-free-vector-3-1Sp {
        background-position: -41.0835rem -5.1825rem;
        background-image: url('REPLACE_IMAGE:22e6e5854ddaf829a1d32a8e13f2956dacd7e193');
        flex-shrink: 0;
        width: 12.3rem;
        height: 12.6rem;
        position: relative;
        background-size: 454.442% 276.284%;
      }
    }
  }
  .auto-group-de4g-tFi {
    width: 100%;
    height: 193.3rem;
    position: relative;
    flex-shrink: 0;

    .frame-1-38c {
      height: 108.8rem;
      position: absolute;
      left: 0;
      flex-direction: column;
      border: solid 0 #000000;
      display: flex;
      background-color: #fdcfa8;
      box-sizing: border-box;
      padding: 4rem 11rem 17.9rem 11.6rem;
      width: 172.8rem;
      top: 0;
      overflow: hidden;
      align-items: center;

      .portfolio-uwW {
        flex-shrink: 0;
        margin: 0rem 0.4rem 5.3rem 0rem;
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-gtry-cqv {
        flex-shrink: 0;
        margin: 0rem 0.5rem 4.5rem 0rem;
        padding-right: 1.8rem;
        width: calc(100% - 0.5rem);
        display: flex;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        height: 6.5rem;
        background-color: #ffffff;

        .auto-group-bysz-LG8 {
          flex-shrink: 0;
          margin-right: 24rem;
          width: 117.5rem;
          height: 100%;
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #2e52d4;

          .rectangle-3-GvU {
            background-color: #7184e6;
            width: 22.5rem;
            height: 6.5rem;
            position: absolute;
            left: 0.2rem;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .css-z5n {
            font-weight: 400;
            line-height: 1.3175;
            left: 0;
            top: 0.2rem;
            font-size: 4rem;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            width: 7.3rem;
            height: 5.3rem;
            position: absolute;
            white-space: nowrap;
          }
        }
        .item-73-Tk4 {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3175;
        }
      }
      .auto-group-xfnq-w9S {
        background-color: #ffffff;
        padding-right: 2.1rem;
        width: calc(100% - 0.5rem);
        height: 6.5rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.5rem 4.5rem 0rem;
        box-sizing: border-box;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .auto-group-sdse-RKW {
          flex-shrink: 0;
          margin-right: 12.6rem;
          width: 128.6rem;
          height: 100%;
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #2e52d4;

          .rectangle-6-Myr {
            position: absolute;
            left: 0.2rem;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #7184e6;
            width: 22.5rem;
            height: 6.5rem;
          }
          .html-V4U {
            line-height: 1.3175;
            height: 5.3rem;
            position: absolute;
            top: 0.3rem;
            font-size: 4rem;
            font-weight: 400;
            width: 12.1rem;
            left: 0.2rem;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .item-79-McU {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
        }
      }
      .auto-group-w8zc-sKv {
        padding-right: 2.2rem;
        align-items: center;
        margin: 0rem 0.5rem 3.4rem 0rem;
        box-sizing: border-box;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        width: calc(100% - 0.5rem);
        height: 6.5rem;

        .auto-group-ncun-bFv {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #2e52d4;
          flex-shrink: 0;
          margin-right: 29.1rem;
          width: 112.1rem;
          height: 100%;
          position: relative;

          .rectangle-9-92Y {
            height: 6.5rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #7184e6;
            width: 22.5rem;
          }
          .java-script-fma {
            height: 4.7rem;
            position: absolute;
            left: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            width: 18.5rem;
            white-space: nowrap;
            font-size: 3.5rem;
            top: 1.1rem;
          }
        }
        .item-65-jmS {
          margin-bottom: 0.2rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-wjzq-Sfr {
        box-sizing: border-box;
        padding-right: 2.3rem;
        background-color: #ffffff;
        margin: 0rem 0.3rem 3.4rem 0.2rem;
        height: 6.5rem;
        display: flex;
        align-items: flex-start;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        width: calc(100% - 0.5rem);

        .auto-group-rqxe-xeC {
          height: 100%;
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #2e52d4;
          flex-shrink: 0;
          margin-right: 34.3rem;
          width: 106.7rem;

          .rectangle-13-uZS {
            width: 22.5rem;
            height: 6.5rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #7184e6;
          }
          .node-js-SZN {
            width: 15.1rem;
            position: absolute;
            left: 0.6rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            height: 5.3rem;
            top: 0.3rem;
            font-size: 4rem;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
        .item-62-8SC {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.4rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
        }
      }
      .auto-group-fzck-qLc {
        margin: 0rem 0rem 3.4rem 0.2rem;
        width: 150rem;
        height: 6.5rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-ZGc {
          left: 0.3rem;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          width: 149.7rem;
          height: 6.5rem;
          position: absolute;
        }
        .rectangle-15-61e {
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #2e52d4;
          width: 138.7rem;
          height: 6.5rem;
          position: absolute;
        }
        .rectangle-16-pTS {
          height: 6.5rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #7184e6;
          width: 22.5rem;
        }
        .ui-design-ZR2 {
          width: 18.2rem;
          position: absolute;
          line-height: 1.3175;
          color: #ffffff;
          white-space: nowrap;
          height: 5.3rem;
          left: 0.2rem;
          top: 0.3rem;
          font-size: 4rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .item-89-tCQ {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          height: 4.7rem;
          font-weight: 400;
          line-height: 1.3175;
          top: 0.3rem;
          font-size: 3.5rem;
          white-space: nowrap;
          width: 6.5rem;
          position: absolute;
          left: 141.3rem;
        }
      }
      .auto-group-dqvx-nHn {
        margin: 0rem 0.5rem 3.4rem 0rem;
        width: 149.7rem;
        height: 6.7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-17-WDn {
          width: 149.7rem;
          height: 6.5rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
        }
        .rectangle-18-3Di {
          top: 0.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #2e52d4;
          width: 124.7rem;
          height: 6.5rem;
          position: absolute;
          left: 0.6rem;
        }
        .rectangle-19-Zhr {
          top: 0.15rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #7184e6;
          width: 22.5rem;
          height: 6.5rem;
          position: absolute;
          left: 0;
        }
        .photoshop-hZA {
          white-space: nowrap;
          width: 20rem;
          height: 5.3rem;
          top: 0.3rem;
          font-size: 4rem;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
          position: absolute;
          left: 0.4rem;
          font-weight: 400;
          line-height: 1.3175;
        }
        .item-78-os6 {
          font-size: 3.5rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.7rem;
          top: 0.3rem;
          left: 141.5rem;
          font-weight: 400;
          color: #000000;
          width: 6.4rem;
          position: absolute;
        }
      }
      .auto-group-hky8-XHJ {
        margin-left: 0.5rem;
        width: 149.7rem;
        height: 6.6rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-20-esi {
          height: 6.5rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          width: 149.7rem;
        }
        .rectangle-21-aFa {
          background-color: #2e52d4;
          width: 98.6rem;
          height: 6.5rem;
          position: absolute;
          left: 0.1rem;
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .rectangle-22-hLC {
          background-color: #7184e6;
          width: 22.5rem;
          height: 6.5rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .angular-RX6 {
          height: 5.3rem;
          color: #ffffff;
          white-space: nowrap;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 15.5rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.3175;
        }
        .item-55-wVS {
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          height: 4.7rem;
          position: absolute;
          top: 1.4rem;
          font-weight: 400;
          width: 6.2rem;
          left: 141rem;
          font-size: 3.5rem;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
    }
    .frame-3-cba {
      width: 172.8rem;
      height: 97.1rem;
      position: absolute;
      left: 0;
      top: 96.2rem;
      overflow: hidden;
      background-color: #fcc3b8;

      .about-wtk {
        position: absolute;
        left: 71.3rem;
        top: 5.8rem;
        font-size: 10rem;
        line-height: 1.3175;
        color: #000000;
        width: 28.5rem;
        height: 13.2rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
      }
      .welcome-to-my-personal-portfolio-im-a-full-stack-developer-with-a-passion-for-creating-innovative-and-user-friendly-web-applications-with-a-diverse-skill-set-that-encompasses-both-front-end-and-back-end-technologies-im-capable-of-delivering-end-to-end-solutions-that-meet-the-needs-of-businesses-and-users-alike-TMJ {
        line-height: 1.2575;
        color: #000000;
        font-family: Segoe UI, 'Source Sans Pro';
        position: absolute;
        top: 27.2rem;
        font-size: 3.5rem;
        font-weight: 400;
        width: 164.1rem;
        height: 13.3rem;
        left: 4.3rem;
      }
      .my-expertise-extends-to-full-stack-development-where-i-combine-my-front-end-and-back-end-skills-to-build-end-to-end-applications-im-skilled-in-integrating-front-end-interfaces-with-back-end-apis-ensuring-smooth-communication-and-data-flow-between-the-client-and-server-Djn {
        height: 13.3rem;
        position: absolute;
        top: 49.6rem;
        font-weight: 400;
        color: #000000;
        font-family: Segoe UI, 'Source Sans Pro';
        width: 160.7rem;
        left: 4.2rem;
        font-size: 3.5rem;
        line-height: 1.2575;
      }
      .contact-Rax {
        line-height: 1.3175;
        color: #000000;
        white-space: nowrap;
        width: 16.3rem;
        height: 4.7rem;
        font-weight: 400;
        font-size: 3.5rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        position: absolute;
        left: 0;
        top: 77rem;
      }
      .email-zameelrajagmailcom-9Wx {
        width: 49.5rem;
        height: 4.7rem;
        font-size: 3.5rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        line-height: 1.3175;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 82.4rem;
        font-weight: 400;
      }
      .phone-no-8778582571-TGk {
        white-space: nowrap;
        height: 4.7rem;
        left: 0;
        line-height: 1.3175;
        font-size: 3.5rem;
        font-weight: 400;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 36.2rem;
        position: absolute;
        top: 87.4rem;
      }
    }
  }
}
